# Application
APP_ENV=development
APP_ADDRESS=:8080

# Database
DATABASE_DSN=postgres://postgres:postgres@localhost:5432/stock_management?sslmode=disable
DATABASE_MAX_CONNS=10
DATABASE_MIN_CONNS=2

# Logger
LOG_LEVEL=debug
LOG_ENV=development
